<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIT Application</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../static/applicationstyle.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="nav-bar">
        <span> <a href="{{url('index')}}"> <i class="material-icons md-48">arrow_back</i> </a> </span>
    </div>
    <center class="heading">
        <img src="../static/img/hitlogo1.png" alt="">
        <span> Harare Institute Of Technology Job Application Form </span>
    </center>
    <div class="wrapper">
        <form action="/asas">
            <div class="detail-group">
                <h3>Personal Information</h3>
                <div class="details">
                    <table>
                            <tr>
                                <td class="label"> <label for="firstname">Firstname: </label> </td>
                                <td class="input"> <input name="firstname" type="text" required placeholder="John"> </td>
                            </tr>
                            <tr>
                                <td> <label for="surname">Surname: </label> </td>
                                <td> <input name="surname" type="text" required placeholder="Doe"> </td>
                            </tr>
                            <tr>
                                <td> <label for="nationalid">National ID: </label> </td>
                                <td> <input name="nationalid" type="text" required placeholder="22-345345X234-P"> </td>
                            </tr>
                            <tr>
                                <td> <label for="DOB">Date Of Birth:</label> </td>
                                <td> <input name="DOB" type="date" required> </td>
                            </tr>
                            <tr>
                                <td>  <label for="Sex">Sex:</label> </td>
                                <td>
                                    <select name="Sex" id="">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </td>
                            </tr>
                    </table>        
                </div>
            </div>
            <div class="detail-group">
                    <h3>Contact Information</h3>
                    <div class="details">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="label"> <label for="email">Email: </label> </td>
                                    <td class="input"> <input type="email" required placeholder="John@gmail.com"> </td>
                                </tr>
                                <tr>
                                    <td> <label for="phone1">Phone 1: </label> </td>
                                    <td>  <input type="text" name="phone1" required placeholder="0772334661"> </td>
                                </tr>
                                <tr>
                                    <td> <label for="phone2">Phone 2: </label> </td>
                                    <td> <input type="text" name="phone2" placeholder="0772334661"> </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: top"> <label for="address">Address:</label> </td> 
                                    <td> <textarea name="address" id="" cols="30" rows="6"></textarea> </td>           
                                </tr>
                            </tbody>
                        </table>   
                    </div>
            </div>
            <div class="detail-group">
                    <h3>Academic Qualification</h3>
                    <div class="details" id="qualification">
                            <div class="field">
                                <label for="qualification">Qualification: </label>
                                <input name="qualification" type="text" placeholder="5 O levels including English and Maths">
                                <label for="awardingInstitute">Awarding Institute: </label>
                                <input name="awardingInstitute" type="text" placeholder="ZIMSEC">
                                <label for="certificate">Attach Certificate:</label>
                                <input type="file" name="certificate" id="" required>                    
                            </div>
                            <span class="button" id="addqualification" onclick="addQualificationField()">Add Another</span>
                    </div>
            </div>
            <div class="detail-group">
                    <h3>Work Experience</h3>
                    <div class="details" id="workexperience">
                            <div class="field">
                                <label for="organisation">Organisation: </label>
                                <input name="organisation" type="text" placeholder="Harare Institute Of Technology">
                                <label for="position">Position: </label>
                                <input name="position" type="text" placeholder="Receptionist">
                                <label for="time-frame">Time Frame: </label>
                                <input name="time-frame" type="text" placeholder="2000-2002">
                            </div>
                            <span class="button" id="add" onclick="addWorkExperienceField()">Add Another</span>
                    </div>
            </div>

            <button class="button submit-button" type="submit">Apply</button>

        </form>
    </div>
</body>

<script>
    // function to add dynamically add fields to work experience
    function addWorkExperienceField(){
        var button = document.getElementById('add')
        var workexperience = document.getElementById('workexperience')
        var fieldNumbers = workexperience.childElementCount - 1;
        var cloneElement = workexperience.firstElementChild.cloneNode(true)
        cloneElement.childNodes[3].name = "organisation" + fieldNumbers
        cloneElement.childNodes[7].name = "position" + fieldNumbers
        cloneElement.childNodes[11].name = "time-frame" + fieldNumbers
        workexperience.insertBefore(cloneElement,button)
    }
    // function to add dynamically add fields to qualifications
    function addQualificationField(){
        var button = document.getElementById('addqualification')
        var qualification = document.getElementById('qualification')
        var fieldNumbers = qualification.childElementCount - 1;
        var cloneElement = qualification.firstElementChild.cloneNode(true)
        cloneElement.childNodes[3].name = "qualification" + fieldNumbers
        cloneElement.childNodes[7].name = "awardingInstitute" + fieldNumbers
        cloneElement.childNodes[11].name = "certificate" + fieldNumbers
        qualification.insertBefore(cloneElement,button)
    }




</script>


</html>