<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HIT Application</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../static/applicationstyle.css">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="nav-bar">
        <span> <a href="{{url_for('home')}}"> <i class="material-icons md-48">arrow_back</i> </a> </span>
    </div>
    <center class="heading">
        <img src="../static/img/hitlogo1.png" alt="">
        <span> Harare Institute Of Technology Job Application Form </span>
    </center>
    <div class="wrapper">
      <form action="{{url_for('apply')}}" method=POST id="applicationForm" enctype="multipart/form-data">
        <div class="detail-group">
            <h3>Personal Information</h3>
            <div class="details">
                <table>
                    <tr>
                        <td class="label"> <label for="firstname">Firstname: </label> </td>
                        <td class="input"> <input name="firstname" id="firstname" type="text" required placeholder="John"> </td>
                    </tr>
                    <tr>
                        <td> <label for="surname">Surname: </label> </td>
                        <td> <input name="surname" id="surname" type="text" required placeholder="Doe"> </td>
                    </tr>
                    <tr>
                        <td> <label for="nationalid">National ID: </label> </td>
                        <td> <input name="nationalid" type="text" id="nationalid" required placeholder="22-345345X234-P"> </td>
                    </tr>
                    <tr>
                        <td> <label for="DOB">Date Of Birth:</label> </td>
                        <td> <input name="DOB" id="dob" type="date" required> </td>
                    </tr>
                    <tr>
                        <td> <label for="Sex">Sex:</label> </td>
                        <td>
                            <select name="sex" id="sex">
                                     <option value="Male">Male</option>
                                     <option value="Female">Female</option>
                                 </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="detail-group">
            <h3>Contact Information</h3>
            <div class="details">
                <table>
                    <tbody>
                        <tr>
                            <td class="label"> <label for="email">Email: </label> </td>
                            <td class="input"> <input type="email" name="email" id="email" required placeholder="John@gmail.com"> </td>
                        </tr>
                        <tr>
                            <td> <label for="phone1">Phone 1: </label> </td>
                            <td> <input type="text" name="phone1" id="phone1" required placeholder="0772334661"> </td>
                        </tr>
                        <tr>
                            <td> <label for="phone2">Phone 2: </label> </td>
                            <td> <input type="text" name="phone2" id="phone2" placeholder="0772334661"> </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top"> <label for="address">Address:</label> </td>
                            <td> <textarea name="address" id="address" cols="30" rows="6"></textarea> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="detail-group">
            <h3>Academic Qualification</h3>
            <div class="details" id="qualification">
                <div class="field" id="qfield">
                    <label for="qualification">Qualification: </label>
                    <input name="qualification1" type="text" id="qualification1" placeholder="5 O levels including English and Maths">
                    <label for="awardingInstitute">Awarding Institute: </label>
                    <input name="awardingInstitute1" id="awardingInstitute1" type="text" placeholder="ZIMSEC">
                    <input type="text" name="numberOfQualifications" value="1" id="numberOfQualifications" style="display:None">
                </div>
                <span class="button" id="addqualification" onclick="addQualificationField()">Add Another</span>
                <span class="button" id="removequalification" onclick="removeQualificationField()">Remove</span>
            </div>
        </div>
        <div class="detail-group">
            <h3>Work Experience</h3>
            <div class="details" id="workexperience">
                <div class="field" id="wfield">
                    <label for="organisation">Organisation: </label>
                    <input name="organisation1" id="organisation1" type="text" value="{{ request.form.organisation }}" placeholder="Harare Institute Of Technology">
                    <label for="position">Position: </label>
                    <input name="position1" id="position1" type="text" value="{{ request.form.position }}" placeholder="Receptionist">
                    <label for="timeframe">Time Frame: </label>
                    <input name="timeframe1" id="timeframe1" type="text" value=" {{ request.form.timeframe }} " placeholder="2000-2002">
                    <input type="text" style="display:None" name="numberOfWorkExperiences" value="1" id="numberOfWorkExperiences">
                </div>
                <!-- <textarea style = "display:none" name="workexperience" id="workexperiences" cols="30" rows="10"></textarea> -->
                <span class="button" id="add" onclick="addWorkExperienceField()">Add Another</span>
                <span class="button" id="removeWorkExperienceField" onclick="removeWorkExperienceField()">Remove</span>
            </div>
        </div>
        <div class="detail-group">
            <h3>Curriculum Vitae</h3>
            <div class="details" id="cv">
                <div class="field" id="qfield">
                    <input type="file" name="cv" id="cv" required><br>
                    <label for="cv">( Attach Curriculum Vitae With All Necessary Certificates )</label>
                </div>
            </div>
        </div>
         <!--<input type="submit" value="" id="submitHandle" style="display:none">-->
        <button class="button submit-button" type="submit">Apply</button>

        </form>
    </div>
</body>

<script src="../static/js/addRemove.js"></script>
<script src="../static/js/axios.min.js"></script>

<script>
    function getFormData() {
        var qualification = document.getElementById('qualification')
        var numberOfQualifications = qualification.childElementCount - 2
        var qualifications = {}
        var workexperience = document.getElementById('workexperience')
        var numberOfWorkExperiences = workexperience.childElementCount - 2
        var workexperiences = {}

        if (numberOfQualifications == 1) {
            qualifications.qualification1 = {
                qualification: document.getElementById('qualification1').value,
                awardingInstitute: document.getElementById('awardingInstitute1').value,
                certificate: document.getElementById('certificate1').files[0]
            }

        } else {
            for (var i = 1; i <= numberOfQualifications; i++) {
                var qualification = 'qualification' + i
                qualifications[qualification] = {
                    qualification: document.getElementById('qualification' + i).value,
                    awardingInstitute: document.getElementById('awardingInstitute' + i).value,
                    certificate: document.getElementById('certificate' + i).files[0]
                }
            }
        }

        if (numberOfWorkExperiences == 1) {
            workexperiences.workexperience1 = {
                organisation: document.getElementById('organisation1').value,
                position: document.getElementById('position1').value,
                timeframe: document.getElementById('timeframe1').value
            }
        } else {
            for (var i = 1; i <= numberOfWorkExperiences; i++) {
                var workexperience = 'workexperience' + i
                workexperiences[workexperience] = {
                    organisation: document.getElementById('organisation' + i).value,
                    position: document.getElementById('position' + i).value,
                    timeframe: document.getElementById('timeframe' + i).value
                }
            }
        }

        data = {
            firstname: document.getElementById('firstname').value,
            surname: document.getElementById('surname').value,
            nationalid: document.getElementById('nationalid').value,
            dob: document.getElementById('dob').value,
            sex: document.getElementById('sex').value,
            email: document.getElementById('email').value,
            phone1: document.getElementById('phone1').value,
            phone2: document.getElementById('phone2').value,
            address: document.getElementById('address').value,
            qualifications: qualifications,
            workexperiences: workexperiences
        }
        return data;



    }

    function sendApplication() {
        data = getFormData()
        axios.post('/capture', data).then(function(res) {
            document.write('success')
        }).catch(function(error) {
            document.write(error)
        })
        // e.preventDefault();
    }
</script>


</html>
