<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro" rel="stylesheet">
    <link rel="stylesheet" href="../static/applicationstyle.css">
    <link rel="stylesheet" href="../static/evaluatedliststyle.css">
    <link rel="shortcut icon" href="..\static\favicon.ico" type="image/x-icon">
    <title>Evaluated List</title>
</head>
<body>
    <div class="heading">
        <h1>Evaluated List</h1>
    </div>
    <div class="wrapper">
        <table>
            <tbody>
                <tr>
                    <th class="tableheading tablename"> Name </th>
                    <th class="tableheading"> Post </th>
                    <th class="tableheading"> Score </th>
                </tr>
                <tr>
                    <td>Blessed Tawanda Mahuni </td>
                    <td> Chief Technology Officer </td>
                    <td> 10.0 </td>
                </tr>
                <tr>
                    <td>Blessed Tawanda Mahuni </td>
                    <td> Chief Technology Officer </td>
                    <td> 10.0 </td>
                </tr>
                <tr>
                        <td>Blessed Tawanda Mahuni </td>
                        <td> Chief Technology Officer </td>
                        <td> 10.0 </td>
                    </tr>            
            </tbody>
        </table>
    </div>
</body>
</html>