<!DOCTYPE html>
<html>

<head>
    <title>Login Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
</head>

<body>
    <header style="background: url(../static/img/hit-home-1.jpg) 100% no-repeat; background-size: cover;">
    </header>
    <nav>
        <div>
            <ul>
                <li><a href="{{url_for('humanResourceHome')}}"><b>HOME</b></a></li>
                <li><a href="{{url_for('applicantList')}}"><b>VIEW APPLICANTS LIST</b></a></li>
                <li><a href="{{url_for('addVacancy')}}" type="button"><b>ADD VACANCY</b></a></li>
                <li><a href="{{url_for('logout')}}"><b>LOGOUT</b></a></li>
            </ul>
        </div>
    </nav>
    <div class="space"> </div>
    <div class="main-wrapper">

      {% with messages = get_flashed_messages() %}
       {% if messages %}
            <ul>
               {% for message in messages %}
               <li><h4>{{ message }}<h4></li>
               {% endfor %}
            </ul>
       {% endif %}
      {% endwith %}

        {% for p in post %}
        <div class="main-container">
            <fieldset class="expand">
                <span><img src="../static/img/finance icon.png"></span>
                <div class="vacancy-details">
                    <h1 class="h3">{{p[0]}} | <small><strong>{{p[4]}}</strong></small></h1>
                    <div class="description">
                        <h4>Minimum Requirements</h4>
                        {% for min in p[1] %}
                        <ul>
                            <li>{{ min }}</a>
                            </li>
                        </ul>
                        {% endfor %}

                        <h4>Responsibilities</h4>
                        {% for resp in p[2] %}
                        <ul>
                            <li>{{ resp }}</a>
                            </li>
                        </ul>
                        {% endfor %}

                    </div>
                </div>
                <div class="edit-vacancy">
                    <ul>
                        <li><a href="{{p[6]}}">Edit</a></li>
                        <li><a href="{{p[5]}}">Shortlist</a></li>
                    </ul>
                </div>
            </fieldset><br>
        </div>
        {% endfor %}
    </div>
</body>

</html>
