<!DOCTYPE html>
<html>
<head>
	<title>Login Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
	<header style="background: url(../static/img/hit-home-1.jpg) 100% no-repeat; background-size: cover;">
	</header>
	<nav>
		<div>
			<ul>
				<li><a href="{{url_for('humanResourceHome')}}"><b>HOME</b></a></li>
				<li><a href="{{url_for('applicantList')}}"><b>VIEW APPLICANTS LIST</b></a></li>
				<li><a href="{{url_for('addVacancy')}}" type="button"><b>ADD VACANCY</b></a></li>
			</ul>
		</div>
	</nav>
	<div class="space"> </div>
	<div class="main-wrapper">
		<div class="main-container">
			<fieldset class="expand">
						<div class="edit-vacancy">
							<ul>
								<li><a href="">Edit</a></li>
								<li><a href="#">Remove</a></li>
								<li><a href="{{url_for('shortlist')}}">Shortlist</a></li>
							</ul>
						</div>
						<div class="vacancy-details">
							<h1 class="h3">{{position}} | <small><strong>{{status}}</strong></small></h1>
							<div class="description">
								<h4>Minimum Requirements</h4>
								{% for min in minimum_requirements %}
										<ul>
										  <li>{{ min }}</a></li>
										</ul>
								{% endfor %}

								<h4>Responsibilities</h4>
								{% for resp in responsibilities %}
										<ul>
										  <li>{{ resp }}</a></li>
										</ul>
								{% endfor %}
							</div>
						</div>
					</fieldset><br>
		</div>
	</div>		
</body>
</html>