<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header style="background: url(../static/img/hit-home-1.jpg) 100% no-repeat; background-size: cover;">
    </header>
    <nav>
        <div>
            <ul>
                <li><a href="{{url_for('home')}}"><b>HOME</b></a></li>
                <li><a href="{{url_for('login')}}" type="button"><b>LOGIN</b></a></li>
            </ul>
        </div>
    </nav>
    <div class="space"> </div>
    <div class="main-wrapper">
        <!--
		<aside class="aside">
			<ul>
				<li>Finance Department</li>
				<li>Maintenance Department</li>
				<li>Catering Department</li>
			</ul>
		</aside>
	-->
        {% for p in post %}
        <div class="main-container">
            <fieldset class="expand">
                <div class="vacancy-details">
                    <h1 class="h3">{{p[0]}} </h1>
                    <div class="description">
                        <h4>Minimum Requirements</h4>
                        {% for min in p[1] %}
                        <ul>
                            <li>{{ min }}</a>
                            </li>
                        </ul>
                        {% endfor %}

                        <h4>Responsibilities</h4>
                        {% for resp in p[2] %}
                        <ul>
                            <li>{{ resp }}</a>
                            </li>
                        </ul>
                        {% endfor %}

                    </div>
                </div>

                <div class="apply-now">
                    <a href="{{p[3]}}">Apply Now</a>
                </div>

            </fieldset><br>
        </div>
        {% endfor %}
    </div>
</body>

</html>
