<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Password</title>
    <link rel="shortcut icon" href="..\static\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/loginstyle.css">
</head>
<body>
    <div class="wrapper" style="height: 300px">
        <h3 class="title"> {{username}} Change Your Password</h3>
        <p class="paragraph">Enter Your New Password</p>
        <form action="{{url_for('newPasswordEntry')}}" method=POST>
            <input type="password" name="newpassword" id="password1" placeholder="New Password">
            <input type="password" name="newpassword2" onkeyup="checkPasswordValidity()" id="password2" placeholder="Re-Enter Your Password">
            <p id="message"></p>
            <button class="button " id="button" type="submit">
                Change Password
            </button>
        </form>
    </div>
</body>

<script>
    function checkPasswordValidity(){
        firstPassword = document.getElementById('password1').value
        secondPassword = document.getElementById('password2').value
        button =  document.getElementById('button')
        message = document.getElementById('message')
        if(firstPassword == secondPassword){
            message.className = 'match-message'
            message.innerText = 'Passwords Match'
            button.className = 'button visible'
        }else {
            message.className = 'mismatch-message'
            message.innerText = "Passwords Mismatch"
        }
    }
</script>

</html>
