<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="..\static\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/loginstyle.css">
    <title>Reset Your Password</title>
</head>
<body>
    <div class="wrapper">
        <center><img src="{{url_for('static', filename='img/hitlogo.png')}}" alt="" srcset="" height="120px" width="300px"></center>

        <h3 class="title"> Password Reset </h3>
        <p class="paragraph"> please enter your registered email to reset your password </p>
        <form action="{{url_for('passwordRecovery')}}" method="post">
            <input type="email" name="email" id="" class="email-input" placeholder="johndude@hit.ac.zw">
            <button type="submit" class="button"> Reset Password</button>
        </form>

    </div>
</body>
</html>
