<!DOCTYPE html>
<html>
<head>
	<title>Shortlist</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<header style="background: url(../static/img/hit-home-1.jpg) 100% no-repeat; background-size: cover;">
	</header>
	<nav>
		<div>
			<ul>
				<li><a href="{{url_for('humanResourceHome')}}"><b>HOME</b></a></li>
				<li><a href="{{url_for('addVacancy')}}" type="button"><b>ADD VACANCY</b></a></li>
			</ul>
		</div>
	</nav>
	<div class="space"> </div>
	<div class="container">
	<br>
	<form action="{{url_for('shortlist')}}" method=POST>
	<table>
	<tr>
	    <td><h3>Name</h3></td>
	    <td><h3>Decision</h3></td>
	</tr>
	{% for i, j in zip(x,y) %}
    <tr>
        <td><label>{{j}}</label></td>
        <td><select name="{{i}}">
            <option value="denied">Denied</option>
            <option value="shortlist">Shortlist</option>
        </select></td>
    </tr>
	
	{% endfor %}
      </table>
       <input type="submit" value="Complete Shortlisting">
        </form>
	</div>
	
	
	<!--<div class="sidebar">
		<h2>Shortlist</h2>
		<table id="shortlist" class="table3000">
			<tr>
				<th class="first-col" colspan="2">Name</th>
				<th class="last-col">Remove</th>
			</tr>
			{% for _ in _ %}
			<tr>
				<td colspan="2">Tapiwa Muza</td>
				<td><button type="submit" class="remove">Remove</button></td>
			</tr>
			{% endfor %}
		</table>
	</div> -->
</body>
</html>
