{% extends "list.html" %}
                        {% block title %} Full Applicant List {% endblock %}
                        {% block heading %} Applicant List {% endblock %}
                        {% block content %}
                        <table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>contact details</th>
      <th>sex</th>
      <th>age</th>
      <th>National_id</th>
      <th>academic qualifications</th>
      <th>awarding institute</th>
      <th>work experience</th>
      <th>comments</th>
      <th>post</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Theophilus Okoye</td>
      <td>263783620957 , 263783620956 , theophilusokoye6@gmail.com , Flat 1 53 Magamba Way Chinhoyi</td>
      <td>Male</td>
      <td>19</td>
      <td>70-299026-J-70</td>
      <td>1. 9 O' Levels including Maths and English. 2. 3 A' Levels including Maths.</td>
      <td>1. ZIMSEC. 2. ZIMSEC.</td>
      <td>1. Worked at EDGARS as CSA since   2016 - Present.</td>
      <td>CV &amp; Certificates attached</td>
      <td>Lecturer</td>
    </tr>
  </tbody>
</table>{% endblock %}