{% extends "list.html" %}
                        {% block title %} Full Applicant List {% endblock %}
                        {% block heading %} Applicant List {% endblock %}
                        {% block content %}
                        <table border="1" class=dataframe >
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>contact details</th>
      <th>sex</th>
      <th>age</th>
      <th>academic qualifications</th>
      <th>awarding institute</th>
      <th>certificate</th>
      <th>work experience</th>
      <th>comments</th>
      <th>salary</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Theophilus okoye</td>
      <td>flat 1 theo@gmail.com 263 263</td>
      <td>Male</td>
      <td>18</td>
      <td>3 A' Levels</td>
      <td>ZIMSEC</td>
      <td>b'PK\x03\x04\n\x00\x00\x00\x00\x00\x87N\xe2@\x...</td>
      <td>Worked at EDGARS was the  CSA from 2016 - Present</td>
      <td>no comment</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>Theo Okoye</td>
      <td>F106B theo@gmail.com 0783620957 078300000</td>
      <td>Male</td>
      <td>19</td>
      <td>9 O' Levels</td>
      <td>ZIMSEC</td>
      <td>b'%PDF-1.5\r\n%\xb5\xb5\xb5\xb5\r\n1 0 obj\r\n...</td>
      <td>Worked at HIT was the  Developer from 2017 - P...</td>
      <td>no comment</td>
      <td></td>
    </tr>
    <tr>
      <th>2</th>
      <td>Theo Okoye</td>
      <td>Flat 1 theo@gmail.com 0783620957 0783620956</td>
      <td>Male</td>
      <td>19</td>
      <td>9 O' Levels</td>
      <td>ZIMSEC</td>
      <td>b'%PDF-1.5\r\n%\xb5\xb5\xb5\xb5\r\n1 0 obj\r\n...</td>
      <td>Worked at HIT was the  Developer from 2017 - P...</td>
      <td>no comment</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>Theo Okoye</td>
      <td>Flat 1 theo@gmail.com 0783620957 0783620956</td>
      <td>Male</td>
      <td>19</td>
      <td>9 O' Levels</td>
      <td>ZIMSEC</td>
      <td>b'%PDF-1.4\r%\xe2\xe3\xcf\xd3\r\n562 0 obj\r&lt;&lt;...</td>
      <td>Worked at HIT was the  Developer from 2017 - P...</td>
      <td>no comment</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>Theo Okoye</td>
      <td>Flat 1 theo@gmail.com 0783620957 0783620956</td>
      <td>Male</td>
      <td>19</td>
      <td>9 O' Levels</td>
      <td>ZIMSEC</td>
      <td>b'%PDF-1.4\r%\xe2\xe3\xcf\xd3\r\n562 0 obj\r&lt;&lt;...</td>
      <td>Worked at HIT was the  Developer from 2017 - P...</td>
      <td>no comment</td>
      <td></td>
    </tr>
  </tbody>
</table>{% endblock %}